/FolderLauncher/.vs/
/FolderLauncher/.vs
FolderLauncher/.vs/FolderLauncher/DesignTimeBuild/.dtbcache.v2
FolderLauncher/FolderLauncher/packages/
FolderLauncher/FolderLauncher/obj/
FolderLauncher/FolderLauncher/bin/
*.suo
*.vsidx